header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header .header__logo {
  width: 6rem;
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
